<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="app">
        <div class="container">
            <h3>
                <a href="/">Trang chủ</a>
            </h3>
            <a href="/api/combineDetailsCatalog_CombineType_Catalog/trash" style="margin-right: 50px;">Thùng rác</a>
            <a href="/api/combineDetailsCatalog_CombineType_Catalog/create">Thêm dữ liệu</a>
            <div class="d-flex align-items-center mt-2 ps-2">
                <select class="form-select select__control" aria-label="Default select example" name="action">
                    <option value="select" selected>-- Select all --</option>
                    <option value="delete">Xóa</option>
                </select>
                <button class="btn btn-primary w-100 h-100 p-1 bg-primary ms-2 btn__submit">Thực hiện</button>
            </div>
        
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col" > 
                            <div class="form-check">
                                <input class="value-check-input" type="checkbox" name="courseIds[]" value="" id="checkboxAll">
                            </div>
                        </th>
                        <th scope="col">
                            ID
                        </th>
                        <th scope="col">
                            Tên Catalog
                        </th>
                        <th scope="col">
                            Tên Type
                        </th>
                        <th scope="col">
                            Tên Details Catalog
                        </th>
                        <th scope="col">Thời gian tạo</th>   
                        <th scope="col">Status</th>   
                    </tr>
                </thead>
                <tbody>
                    <% if(dataCombineDetailsCatalog_CombineType_Catalog.length === 0) { %>
                        <tr class="text-center">
                            <td colspan="6">
                                Không có khóa học nào hoặc đã bị xóa
                                <a href="/api/combineDetailsCatalog_CombineType_Catalog/create">Hãy vào tạo khóa học</a> hoặc
                                <a href="/api/combineDetailsCatalog_CombineType_Catalog/trash">Hãy vào thùng rác</a>
                            </td>
                        </tr>
                    <% } else { %> 
                        <% dataCombineDetailsCatalog_CombineType_Catalog.map((data, index) => {  %>
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <input class="value-check-input" type="checkbox" name="courseIds[]" value="" id="flexCheckChecked" data-id=<%= data._id %>>
                                    </div>
                                </th>
                                <td scope="row"><%= data._id %></td>
                                <% dataCombineType_Catalog.map((type_catalog, index) => { %>
                                    <% if(type_catalog._id.valueOf() === data.idCombineType_Catalog) { %>
                                        <% dataCatalog.map((catalog, index) => { %>
                                            <% if(catalog._id.valueOf() === type_catalog.idCatalog) { %>
                                                <td scope="row"><%= catalog.name %></td>
                                            <% } %>
                                        <% }) %>
                                        <% dataType.map((type, index) => { %>
                                            <% if(type._id.valueOf() === type_catalog.idType) { %>
                                                <td scope="row"><%= type.name %></td>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                <% }) %>
                                <% dataDetailsCatalog.map((DetailsCatalog, index) => { %>
                                    <% if(DetailsCatalog._id.valueOf() === data.idDetailsCatalog) { %>
                                        <td scope="row"><%= DetailsCatalog.name %></td>
                                    <% } %>
                                <% }) %>
                                <td scope="row"><%= data.createdAt %></td>
                                <td>
                                    <a href="/api/combineDetailsCatalog_CombineType_Catalog/edit/<%= data._id %>" class="btn btn-link">Sửa</a>
                                    <a href="" class="btn btn-link" onclick="handleOnClickAssignType" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id=<%= data._id %>>Xóa</a>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
            <div class="modal" tabindex="-1" id="delete-course-modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Notification</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this field?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger btn-delete">Delete</button>
                    </div>
                    </div>
                </div>
            </div>
        
            <form method="POST" name="delete-course-form"></form>
        </div>
    </div>

    <script>
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);

        const deleteCourseModal = document.getElementById('delete-course-modal');
        const btnDelete = $(".btn-delete");
        const formDelete = document.forms['delete-course-form'];
        const btnSubmit = document.querySelector(".btn__submit");
        const btnAllProduct = document.querySelector("#checkboxAll");
        const allCheckboxProduct = document.querySelectorAll("#flexCheckChecked");
        const selectControl = document.querySelector(".select__control");
        const btnDeleteSingle = $('.btn__deleteSingle');
        
        let idForm;
        
        const handleOnClickAssignType = () => {
            formDelete.setAttribute("type", "brand");
        }


        if (deleteCourseModal) {
            deleteCourseModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget
                idForm = button.getAttribute('data-id');
            })
        }

        btnDelete.addEventListener("click", (e) => {
            let array = [];
            let str = formDelete.getAttribute("type");
            if(str === "brand")
            {
                array = [
                    ...array,
                    idForm
                ]
            }
            else
            {
                allCheckboxProduct.forEach((item, index) =>{
                    if(item.checked)
                    {
                        id = item.getAttribute('data-id');
                        array = [
                            ...array,
                            id
                        ]
                    }
                })
            }
            formDelete.action = "/api/combineDetailsCatalog_CombineType_Catalog/list/delete/" + array + "/?_method=DELETE";
            formDelete.submit();
        })

        btnSubmit.addEventListener("click", () => {
             
            if(selectControl.value === "delete")
            {
                formDelete.setAttribute("type", "brands");
            }
            else
                alert("Vui lòng chọn phương thức!")
            
        })

        btnAllProduct.addEventListener("click", (e) => {
            allCheckboxProduct.forEach((item, index) =>{
                item.checked = e.target.checked;
            }) 
        })

        selectControl.addEventListener("change", () => {
            if(selectControl.value === "delete")
            {
                btnSubmit.setAttribute("data-bs-target", "#delete-course-modal");
                btnSubmit.setAttribute("data-bs-toggle", "modal");
            }
            else
            {
                btnSubmit.removeAttribute("data-bs-target");
                btnSubmit.removeAttribute("data-bs-toggle");
            }
        })

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>